<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring_#10_AOP_for_annotation/src/main/java/used/annotation/AOP/MainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="used.annotation.AOP.MainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring_#10_AOP_for_annotation"/>
</launchConfiguration>
