<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring_#6_2_DI_practice/src/main/java/used_DI_javaConfig/MainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="used_DI_javaConfig.MainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring_#6_2_DI_practice"/>
</launchConfiguration>
